.cell-title
{
    font-weight: bold;
}

.cell-effort-driven
{
    text-align: center;
}

.cell-selection
{
    border-right: solid silver;
    background: #f5f5f5;
    color: gray;
    text-align: right;
    font-size: 10px;
}

.slick-row.selected .cell-selection
{
    background-color: transparent; /* show default selected row background */
}

/* Start */
#inlineFilterPanel
{
    padding: 3px;
    color: black;
    background: rgb(221, 221, 221) initial initial initial initial;
}

.grid-canvas
{
    width: 100%;
    /*height: 1250025px;*/
}

.grid-container
{
    width: 100%;
}

.pager
{
    width: 100%;
    height: 20px;
}

.toggle_search
{
    float: right;
}

.grid-header
{
    width: 100%;
}

.slick-columnpicker
{
    /*position: absolute;*/
    /*display: none;*/
    z-index: 20;
}

.slick-headerrow-columns
{
    width: 560px;
}

.slick-headerrow-columns-spacer
{
    position: absolute;
    top: 0;
    left: 0;
    width: 575px;
    display: block;
    height: 1px;
}

.slick-headerrow-column
{
    background: #87ceeb;
    text-overflow: clip;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slick-headerrow-column input
{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 20px;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.slick-top-panel-scroller
{
    position: relative;
    overflow: hidden;
    display: none;
}

/*.slick-viewport*/
/*{*/
    /*position: relative;*/
    /*height: 473px;*/
    /*width: 100%;*/
    /*overflow: auto;*/
    /*outline: 0;*/
/*}*/

.slick-top-panel
{
    width: 100%;
}

.hidefocus
{
    position: fixed;
    width: 0;
    height: 0;
    top: 0;
    left: 0;
    outline: 0;
}

/* End */
