<?xml version="1.0" encoding="UTF-8"?>

<web-app version="2.4"
         xmlns="http://java.sun.com/xml/ns/j2ee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/j2ee http://java.sun.com/xml/ns/j2ee/web-app_2_4.xsd">

  <context-param>
    <param-name>ca.nrc.cadc.jobservice</param-name>
    <param-value>ca.nrc.cadc.uws.BasicJobManager</param-value>
  </context-param>

  <context-param>
    <param-name>ca.nrc.cadc.persistence</param-name>
    <param-value>ca.nrc.cadc.uws.InMemoryPersistence</param-value>
  </context-param>

  <context-param>
    <param-name>ca.nrc.cadc.executor</param-name>
    <param-value>ca.nrc.cadc.uws.ThreadExecutor</param-value>
  </context-param>

  <context-param>
    <param-name>ca.nrc.cadc.executor.pool.size</param-name>
    <param-value>7</param-value>
  </context-param> 

  <context-param>
    <param-name>org.restlet.application</param-name>
    <param-value>ca.nrc.cadc.uws.web.restlet.UWSApplication</param-value>
  </context-param>

  <servlet>
    <servlet-name>RestletServer</servlet-name>
    <servlet-class>org.restlet.ext.servlet.ServerServlet</servlet-class>
    <load-on-startup>1</load-on-startup>
  </servlet>

  <servlet-mapping>
    <servlet-name>RestletServer</servlet-name>
    <url-pattern>/*</url-pattern>
  </servlet-mapping>

  <!-- Define a data source. -->
  <context-param>
    <param-name>dataSource</param-name>
    <param-value>jdbc/sybase</param-value>
  </context-param>

</web-app>
